.slider{
    position: absolute;
    transform: translate(-50%);
    top: 10%;
    left: 50%;
    z-index: 1000000;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(185, 185, 185,0.5);
    font-size: 4rem;
}
.slider ul{
    list-style: none;
}